@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
  background-color: #0f1117;
  color: #e6e6e6;
}

.text-gray-props {
    color: #d3d4d6
}

.text-title {
    color: #6549a1;
}

.text-dates {
    color: #8a3942;
}

.text-semititle {
    color: #8c8c8c;
}
